In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt

csv_path = "../resources/NYC_Dog_Licensing_Dataset.csv"
data = pd.read_csv(csv_path)
data

,RowNumber,AnimalName,AnimalGender,AnimalBirthMonth,BreedName,Borough,ZipCode,LicenseIssuedDate,LicenseExpiredDate,Extract Year,Unique Dog ID
0,1,PAIGE,F,2014,American Pit Bull Mix / Pit Bull Mix,NaN,10035,09/12/2014,09/12/2017,2016.0,NaN
1,2,YOGI,M,2010,Boxer,NaN,10465,09/12/2014,10/02/2017,2016.0,NaN
2,3,ALI,M,2014,Basenji,NaN,10013,09/12/2014,09/12/2019,2016.0,NaN
3,4,QUEEN,F,2013,Akita Crossbreed,NaN,10013,09/12/2014,09/12/2017,2016.0,NaN
4,5,LOLA,F,2009,Maltese,NaN,10028,09/12/2014,10/09/2017,2016.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
493067,147341,UNKNOWN,F,2020,Poodle Crossbreed,NaN,10025,03/17/2021,03/17/2022,NaN,NaN
493068,147342,UNKNOWN,F,2020,"Coonhound, Treeing Walker",NaN,11201,03/17/2021,03/17/2022,NaN,NaN
493069,147343,UNKNOWN,M,2020,Dachshund,NaN,11206,03/17/2021,03/17/2022,NaN,NaN
493070,147344,UNKNOWN,M,2020,Goldendoodle,NaN,10019,03/17/2021,03/17/2022,NaN,NaN
493071,147345,UNKNOWN,F,2020,Pomeranian,NaN,11212,03/17/2021,03/17/2022,NaN,NaN